* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

#selected-product {
  display: flex;
  align-items: center;
  gap: 58px;
  margin-bottom: 73px;
}

#selected-product-left-side {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
#selected-product-left-side img {
  width: 467px;
  height: 701px;
}
/* span */
#selected-product-right-side {
  width: 322px;
}
#selected-product-right-side-breadcrumb {
  font-weight: 400;
  font-size: 12px;
  color: #777777;
  line-height: 21px;
  letter-spacing: 0%;
}
#selected-product-info h2 {
  font-weight: 500;
  font-size: 24px;
  color: #111111;
  line-height: 31.2px;
  letter-spacing: 0%;
}
#selected-product-info p {
  font-weight: 500;
  font-size: 23px;
  color: #333333;
  line-height: 27.6px;
  letter-spacing: 0%;
  margin-bottom: 23px;
}
#selected-product-info .material-info {
  font-weight: 400;
  font-size: 12px;
  color: #333333;
  line-height: 22.4px;
  letter-spacing: 0%;
  margin-bottom: 26px;
}
#selected-product-info .fit-check-info {
  font-weight: 400;
  font-size: 12px;
  color: #333333;
  line-height: 22.4px;
  letter-spacing: 0%;
  margin-bottom: 19px;
}
.select-size {
  margin-bottom: 65px;
}
.select-size select {
  height: 50px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 400;
  font-size: 11px;
  color: #333333;
  line-height: 24.2px;
  letter-spacing: 1.1px;
  padding-left: 26px;
  text-transform: uppercase;
}

.add-to-bag {
  height: 49px;
  width: 100%;
  background-color: #111111;
  color: #ffffff;
  border: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 12.1px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 5px;
}

.add-to-bag:hover {
  background-color: #333;
}

.uk-size {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
#selected-product-info .select-size .uk-size .uk {
  font-style: italic;
  font-weight: 400;
  font-size: 10px;
  color: #333333;
  line-height: 12.65px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}
#selected-product-info .select-size .uk-size .size-guide {
  font-weight: 400;
  font-size: 10px;
  color: #333333;
  line-height: 12.65px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}
#selected-product-info .uk-size p {
  margin: 0;
}

/* accordion */
#selected-product-info .accordion .wishlist {
  font-weight: 500;
  font-size: 10px;
  color: #333333;
  line-height: 100%;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 28px;
}

.accordion {
  width: 100%;
}
.accordion .question {
  padding: 16px 0;
  font-weight: 500;
  font-size: 10px;
  color: #333333;
  line-height: 12.1px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  border-top: 1px solid #e7e7e7;
  position: relative;
}
.accordion .accordion-content .question::after {
  content: "v";
  position: absolute;
  right: -1px;
}
.accordion .accordion-content .answer {
  padding-top: 16px;
  font-weight: 500;
  font-size: 14px;
  color: #333333;
  line-height: 14px;
  letter-spacing: 1.1px;
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: 0.5s;
}
/* js styling */
.accordion .accordion-content.active .answer {
  height: 100px;
}
.accordion .accordion-content.active .question {
  font-size: 8px;
  transition: 0.5s;
}
.accordion .accordion-content.active .question::after {
  content: "^";
  transition: 0.5s;
  font-size: 16px;
}
/* recently-viewed */
#recently-viewed h2 {
  margin-bottom: 64px;
  text-align: center;

  font-weight: 700;
  font-size: 25px;
  color: #333333;
  line-height: 31.25px;
  letter-spacing: 0%;
}
#recently-viewed .recently-viewed-product {
  display: flex;
  margin-left: 21px;
  gap: 21px;
  margin-bottom: 107px;
}
.recently-viewed-product-name-price {
  display: flex;
  justify-content: space-between;
}
#recently-viewed .recently-viewed-product div img {
  width: 452px;
  height: 678px;
}
.recently-viewed-product p {
  font-weight: 400;
  font-size: 12px;
  color: #333333;
  line-height: 21px;
  letter-spacing: 0%;
}
.recently-viewed-product span {
  font-weight: 400;
  font-size: 14px;

  line-height: 21px;
  letter-spacing: 0%;
  color: #111111;
}

#selected-product-right-side .cart-line {
  margin-top: 75px;
  margin-bottom: 22px;
  height: 1px;
  background-color: #efefef;
  margin: 0 auto 41px;
}

/* mobile */
@media (max-width: 768px) {
  #selected-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 73px;
  }
  #selected-product-left-side {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  #selected-product-left-side img {
    width: 400px;
    height: 600px;
    object-fit: cover;
  }

  /* Right side details */
  #selected-product-right-side {
    width: 400px;
    flex-shrink: 0;
  }
  #selected-product-info h2 {
    font-weight: 500;
    font-size: 20px;
    color: #111111;
    line-height: 31.2px;
    letter-spacing: 0%;
    margin-bottom: 12px;
  }
  /* recently-viewed*/
  #recently-viewed h2 {
    margin-bottom: 64px;
    text-align: center;

    font-weight: 700;
    font-size: 20px;
    color: #333333;
    line-height: 31.25px;
    letter-spacing: 0%;
  }
  #recently-viewed .recently-viewed-product {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 18px;
    margin-bottom: 90px;
  }
  .recently-viewed-product-name-price {
    display: flex;
    flex-direction: column;
  }
  #recently-viewed .recently-viewed-product div img {
    width: 400px;
    height: 600px;
  }
}
