* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}
#cashmere-header {
  width: 677px;
  margin: 0 auto;
  text-align: center;
}
#cashmere-header h1 {
  font-weight: 700;
  font-size: 25px;
  color: #111111;
  line-height: 46.8px;
  margin-bottom: 19px;
}
#cashmere-header p {
  font-weight: 400;
  font-size: 14px;
  color: #777777;
  line-height: 21px;
  margin-bottom: 86px;
}
