* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}
#cashmere-header {
  width: 677px;
  margin: 0 auto;
  text-align: center;
}
#cashmere-header h1 {
  font-weight: 700;
  font-size: 25px;
  color: #111111;
  line-height: 46.8px;
  margin-bottom: 19px;
}
#cashmere-header p {
  font-weight: 400;
  font-size: 14px;
  color: #777777;
  line-height: 21px;
  margin-bottom: 86px;
}

/* cashmere content */
#cashmere-content {
  display: flex;
  gap: 80px;
  padding-left: 32px;
}
.cashmere-sidebar h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 35.46px;
  margin-bottom: 8px;

  color: #000000;
}
.cashmere-sidebar ul {
  list-style: none;
  padding: 0;
}
.cashmere-sidebar ul li {
  font-weight: 400;
  font-size: 13px;
  line-height: 31.52px;
  color: #000000;
}
/* Main content */
.product-area {
  flex: 1;
  max-width: 872px;
}
.breadcrumb-topbar {
  display: flex;
  justify-content: space-between;
}
.breadcrumb-topbar .breadcrumb-sort {
  font-weight: 700;
  font-size: 10px;
  line-height: 21.45px;
  letter-spacing: 1.1px;
  color: #111111;
}
.breadcrumb .breadcrumb-home {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #c4c4c4;
}
.breadcrumb .breadcrumb-cashmere {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #111111;
}
.filters {
  display: flex;
  margin-bottom: 30px;
  gap: 30px;
  margin-top: 21px;
  margin-bottom: 23px;
}
.filters li {
  list-style: none;
  font-weight: 600;
  font-size: 11px;
  line-height: 16.5px;
  letter-spacing: 1.65px;
  color: #333333;
  text-transform: uppercase;
}

/* Products grid */
.products {
  display: grid;
  grid-template-columns: repeat(
    3,
    max-content
  ); /* 3 columns that fit the content exactly */
  gap: 13px;
}

.product-card {
  margin-bottom: 40px;
  position: relative;
}

/* summer-essentials Button */
.summer-essentials {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 171px;
  height: 26px;
  padding: 6px 19px 6px 19px;

  background-color: #ffffff;
  border: none;

  font-weight: 400;
  font-size: 10px;
  line-height: 12.65px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

/* Heart Icon */
.heart {
  position: absolute;
  top: 6px;
  right: 8px;

  cursor: pointer;
}

.product-card img {
  width: 282px;
  height: 423px;
}

.product-card .product-info {
  width: 282px;
  display: flex;
  justify-content: space-between;
}

.product-card .product-info h3 {
  font-weight: 400;
  font-size: 11px;
  line-height: 21px;
  letter-spacing: 0%;
  color: #000000;
  margin-bottom: 8px;
}
.product-card .product-info p {
  font-weight: 400;
  font-size: 11px;
  line-height: 13.8px;
  letter-spacing: 0%;
  color: #111111;
}
.product-card .product-info span {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0%;
  color: #111111;
}

.cashmere-line {
  margin-top: 75px;
  margin-bottom: 22px;
  height: 1px;

  background-color: #333333;
  margin: 0 auto 41px;
}

/* pagination */
.pagination {
  display: flex;
  align-items: center; /* ensures vertical alignment of everything */
  justify-content: center;
  gap: 10px;
  margin-bottom: 22px;
}

.pagination .arrow {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.pagination .arrow img {
  width: 13px;
  height: 13px;
}

.pagination .page-numbers {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 26px;
  margin: 0;
  padding: 0;
}

.pagination .page {
  font-weight: 400;
  font-size: 13px;
  line-height: 1;
  color: #777777;
}

.pagination .page.active {
  color: #000000;
}

/* mobile */
@media (max-width: 768px) {
  #cashmere-header,
  #cashmere-content {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  #cashmere-header h1 {
    font-size: 18px;
    line-height: 28px;
  }

  #cashmere-header p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  /* Cashmere Content */
  #cashmere-content {
    gap: 16px;
    padding: 0;
    align-items: stretch;
  }

  /* cashmere content */
  #cashmere-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .cashmere-sidebar h2 {
    font-size: 14px;
  }

  .cashmere-sidebar ul li {
    font-size: 10px;
  }

  /* Main content */
  .product-area {
    max-width: 500px;
  }

  .breadcrumb-topbar {
    display: flex;
    flex-direction: column;
  }

  .filters {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    gap: 8px;
  }
  .filters li {
    font-size: 8px;
  }

  /* Products grid */
  .products {
    display: grid;
    grid-template-columns: repeat(1, max-content);
    gap: 13px;
  }

  /* summer-essentials Button */
  .summer-essentials {
    width: 150px;
    height: 20px;

    font-size: 8px;
  }

  .product-card img {
    max-width: 100%;
    height: 423px;
  }
}
