* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}
#cashmere-header {
  width: 677px;
  margin: 0 auto;
  text-align: center;
}
#cashmere-header h1 {
  font-weight: 700;
  font-size: 25px;
  color: #111111;
  line-height: 46.8px;
  margin-bottom: 19px;
}
#cashmere-header p {
  font-weight: 400;
  font-size: 14px;
  color: #777777;
  line-height: 21px;
  margin-bottom: 86px;
}

/* cashmere content */
#cashmere-content {
  display: flex;
  gap: 80px;
  padding-left: 32px;
}
.cashmere-sidebar h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 35.46px;
  margin-bottom: 8px;

  color: #000000;
}
.cashmere-sidebar ul {
  list-style: none;
  padding: 0;
}
.cashmere-sidebar ul li {
  font-weight: 400;
  font-size: 13px;
  line-height: 31.52px;
  color: #000000;
}
/* Main content */
.product-area {
  flex: 1;
  max-width: 872px;
}
.breadcrumb-topbar {
  display: flex;
  justify-content: space-between;
}
.breadcrumb-topbar .breadcrumb-sort {
  font-weight: 700;
  font-size: 10px;
  line-height: 21.45px;
  letter-spacing: 1.1px;
  color: #111111;
}
.breadcrumb .breadcrumb-home {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #c4c4c4;
}
.breadcrumb .breadcrumb-cashmere {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #111111;
}
.filters {
  display: flex;
  margin-bottom: 30px;
  gap: 30px;
  margin-top: 21px;
  margin-bottom: 23px;
}
.filters li {
  list-style: none;
  font-weight: 600;
  font-size: 11px;
  line-height: 16.5px;
  letter-spacing: 1.65px;
  color: #333333;
  text-transform: uppercase;
}

/* Products grid */
.products {
  display: grid;
  grid-template-columns: repeat(
    3,
    max-content
  ); /* 3 columns that fit the content exactly */
  gap: 13px;
}

.product-card {
  margin-bottom: 40px;
}

.product-card img {
  width: 282px;
  height: 423px;
}

.product-card .product-info {
  width: 282px;
  display: flex;
  justify-content: space-between;
}

.product-card .product-info h3 {
  font-weight: 400;
  font-size: 11px;
  line-height: 21px;
  letter-spacing: 0%;
  color: #000000;
}
.product-card .product-info p {
  font-weight: 400;
  font-size: 11px;
  line-height: 13.8px;
  letter-spacing: 0%;
  color: #111111;
}
.product-card .product-info span {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0%;
  color: #111111;
}
