* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}
.full-container {
  margin: 0 20px;
}
/* announcement bar */
.announcement-bar {
  background-color: #111111;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.announcement-bar p {
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 19.2px;
}

/* navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 0;
}

.navbar ul {
  list-style: none;
}
.navbar #nav-menu-list {
  display: flex;
  align-items: center;
  gap: 18px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20.7px;
  letter-spacing: 0.72px;
  cursor: pointer;
}

#nav-btn-list {
  display: flex;
  align-items: center;
  gap: 18px;
}

#flag-icon img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
#search-icon img {
  width: 21px;
  height: 21px;
  object-fit: contain;
}
#love-icon img {
  width: 21px;
  height: 18px;
  object-fit: contain;
}
#msg-icon img {
  width: 23px;
  height: 16px;
  object-fit: contain;
}
#user-icon img {
  width: 21px;
  height: 21px;
  object-fit: contain;
}
#store-icon img {
  width: 17px;
  height: 20px;
  object-fit: contain;
}

.navbar p {
  color: #000000;
  font-size: 32px;
  font-weight: 700;
  line-height: 25.6px;
  text-transform: uppercase;
}
.navbar p span {
  color: #000000;
  font-size: 32px;
  font-weight: 500;
  line-height: 25.6px;
  text-transform: uppercase;
}

/* hero section */

.slider-wrapper {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-bottom: 38px;
}

.slider-wrapper .slider-item {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 138px;
  height: 500px;
  position: relative;
}

.slider-wrapper .slider-item .left-arrow {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.slider-wrapper .slider-item .right-arrow {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.slider-wrapper .slider-item p {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 47.04px;
  text-transform: uppercase;
  width: 533px;
}
.slider-wrapper .slider-item button {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-transform: capitalize;
  background-color: #000000;
  color: #ffffff;
  width: 152px;
  height: 50px;
  margin-top: 50px;
}

/* slider css for functionality */
.slider-wrapper .slider-item {
  display: none;
}
.slider-wrapper .slider-item.displaySlide {
  display: flex;
}

/* summer collection */
.summer-collection {
  margin-bottom: 40px;
}

.summer-collection-header {
  text-align: center;
}

.summer-collection-header h2 {
  font-size: 32px;
  line-height: 47.04px;
  margin-bottom: 44px;
}

.summer-collection-header button {
  width: 152px;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  background-color: #000000;
  color: #ffffff;
  margin-bottom: 69px;
  cursor: pointer;
}

.summer-collection-body {
  position: relative;
}

.summer-collection-images {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.summer-collection-images img {
  width: 315px;
  height: 315px;
  object-fit: cover;
}
.summer-collection-body .summer-collection-arrows #summer-right-arrow {
  height: 56px;
  width: 32px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.summer-collection-body .summer-collection-arrows #summer-left-arrow {
  height: 56px;
  width: 32px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
/* sign up banner */
.sign-up {
  margin-bottom: 85px;
}
.sign-up-banner {
  height: 513px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 60px;
}

.sign-up-banner h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44.1px;
  color: #ffffff;
  margin-bottom: 50px;
}
.sign-up-banner button {
  width: 204px;
  height: 50px;
  background-color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-transform: capitalize;
  color: #ffffff;
}

/* collection */
.collection {
  display: flex;
  justify-content: center;
  gap: 23px;
  margin-bottom: 120px;
}
.collection img {
  height: 210px;
  width: 210px;
  object-fit: cover;
}

.line {
  width: 1166px;
  height: 1px;
  background-color: #9d9797;
  margin: 0 auto 41px;
}

/* email subscription */
.email-subscription {
  width: 1166px;
  height: 160px;
  padding-left: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.social-icon img {
  width: 18px;
  height: 18px;
  margin-right: 23px;
}

.subscription-input p {
  font-weight: 700;
  font-size: 15px;
  line-height: 25.6px;
  letter-spacing: 0%;
  margin-bottom: 17px;
}
.subscription-input #subscription-email {
  width: 279px;
  height: 30px;
  margin-bottom: 17px;
  border: none;
  border-bottom: 1px solid lightgray;
  outline: none;
}
.subscription-input #subscription-btn {
  width: 97px;
  height: 30px;
  background-color: #111111;
  font-size: 10px;
  line-height: 12.1px;
  font-weight: 700;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: #ffffff;
}

/* footer */
.footer {
  margin-top: 81px;
  width: 1166px;
  padding-left: 126px;
  padding-right: 146px;
  margin: auto;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 250px;
}

.footer-col h3 {
  font-size: 9px;
  line-height: 24.2px;
  letter-spacing: 1.65px;
  margin-bottom: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #111111;
  text-align: center;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-bottom: 79px;
}

.footer-col ul li {
  font-weight: 400;
  font-size: 12px;
  line-height: 27.02px;
  letter-spacing: 0%;
  color: #777777;
  cursor: pointer;
}
.footer-col ul #customer-service-li {
  font-weight: 600;
  font-size: 12px;
  line-height: 22.4px;
}
.footer-col ul #wholesale-enquiries-li {
  font-weight: 600;
  font-size: 12px;
  line-height: 22.4px;
}

/* copy right */
.copyright {
  font-weight: 400;
  font-size: 10px;
  line-height: 17.6px;
  letter-spacing: 1.65px;
  color: #777777;
  text-align: center;
  padding: 15px 10px;
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: 59px;
}

.copyright span {
  font-weight: 400;
  font-size: 10px;
  line-height: 17.6px;
  letter-spacing: 1.65px;
  color: #333333;
  text-align: center;
  padding: 15px 6px;
}

/* mobile view */
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    position: relative;
  }

  .hamburger {
    display: block;
  }
  .navbar #nav-menu-list {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
    text-align: center;
  }

  #nav-menu-list.active {
    display: flex;
  }

  .navbar #nav-btn-list {
    display: none;

    width: 100%;
    padding: 20px 0;
    text-align: center;
  }

  /* Show buttons when active */
  .navbar #nav-btn-list.active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}
