* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.announcement-bar {
  background-color: #111111;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.announcement-bar p {
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 19.2px;
}
